// colours
$lightWhite: #e9e9e9;
$marginBottom: 0.6rem;

$boxShadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.1),
  0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.05),
  0 16px 16px rgba(0, 0, 0, 0.025);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #d6d6d6;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  min-height: 100vh;
  .logo {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    img {
      width: 20px;
      height: auto;
      padding-right: 1rem;
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 1.5rem;
  }
  .nav-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0 1.5rem;
  }
  .new-note-btn {
    box-shadow: $boxShadow;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    min-width: 0;
    min-height: 0;
    padding: 1rem;
    z-index: 99;
  }
  .note-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background: $lightWhite;
    box-shadow: $boxShadow;
    border-radius: 4px;
    margin-bottom: $marginBottom;
    button {
      min-width: 46px;
    }
  }
  .input-field {
    border-radius: 4px;
  }
  .reminder {
    background: $lightWhite;
    box-shadow: $boxShadow;
    padding: 0.5rem 1rem 0.8rem;
    border-radius: 4px;
    margin-bottom: $marginBottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    .pre-title {
      opacity: 0.3;
    }
  }
}

// media queries
@media screen and (max-width: 600px) {
  .container {
    .note-tile {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: left;
      background: linear-gradient(
        #e9e9e9 0%,
        #e9e9e9 43%,
        #e2e2e2 44%,
        #dddddd 100%
      );
      div:last-child {
        margin-top: 1.2rem;
        align-self: flex-end;
      }
    }
  }
}
